<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
">

<bean class="org.apache.commons.dbcp.BasicDataSource" id="ds">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	<property name="url" 
	value="jdbc:mysql://localhost:3306/expertmessagingdb"></property>
	<property name="username" value="root"></property>
</bean>

<bean 
class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
id="sf">
		<property name="dataSource" ref="ds"></property>
		<property name="hibernateProperties">
			<props>
<prop key="hibernate.show_sql">true</prop>
<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
<prop key="hibernate.hbm2ddl.auto">validate</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.dto.Expert</value>
				<value>com.dto.Question</value>
				<value>com.dto.Customer</value>
				<value>com.dto.Admin</value>
				<value>com.dto.Answer</value>
				<value>com.dto.QuestionCategory</value>
				<value>com.dto.QuestionSubCategory</value>
				<value>com.dto.ReportedIncidentsByCustomer</value>
				<value>com.dto.ReportedIncidentsByExperts</value>
			</list>
		</property>
</bean>
 
<bean class="org.springframework.orm.hibernate4.HibernateTemplate"
id="hiberTemplate">
	<property name="sessionFactory" ref="sf"></property>
	<property name="checkWriteOperations" value="false"></property>
</bean>
 

<bean class="com.dao.AdminDAO" name="adao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.CustomerDAO" name="custdao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.ExpertDAO" name="expdao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.QuestionDAO" name="questdao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.AnswerDAO" name="ansdao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.QuestionCategoryDAO" name="qcatdao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.QuestionSubCategoryDAO" name="qsubcatdao">
	<property name="sfact" ref="sf"></property>
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.ReportedIncidentsByCustomerDAO"  
name="repcustdao">
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>

<bean class="com.dao.ReportedIncidentsByExpertsDAO"
name="repexpdao">
	<property name="htemplate" ref="hiberTemplate"></property>
</bean>


<bean id="mailSender" 
class="org.springframework.mail.javamail.JavaMailSenderImpl">  

        <property name="host" value="smtp.gmail.com" />
	<property name="port" value="587" />
	<property name="username" value="ind25thjulyandro@gmail.com" />
	<property name="password" value="25thjuly_jvm" />

	<property name="javaMailProperties">
	   <props>
       	      <prop key="mail.smtp.auth">true</prop>
       	      <prop key="mail.smtp.starttls.enable">true</prop>
       	   </props>
	</property>
    </bean>  
    
    <bean class="com.dao.MailDAO" name="mdao">
        <property name="mailSender" ref="mailSender"></property>
    </bean> 
    
</beans>

